<!DOCTYPE html>
<html>
<title>JSAPI支付一分钱</title>
<head>

 <script type="text/javascript">


    function pay() {
      
        WeixinJSBridge.invoke(
            'getBrandWCPayRequest', {
                "appId": "{{.AppId}}", 	 //公众号名称，由商户传入
                "timeStamp": "{{.TimeStamp}}",//时间戳，自1970年以来的秒数
                "nonceStr": "{{.NonceStr}}",//随机串
                "package": "{{.Package}}",
                "signType": "{{.SignType}}",//微信签名方式:
                "paySign": "{{.PaySign}}"   //微信签名
            },
            function (res) {
                if (res.err_msg == "get_brand_wcpay_request:ok") {

                }     // 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回    ok，但并不保证它绝对可靠。
                  alert(res.err_msg);

            }
        );
    }


 </script>
</head>

<body>

<h1>微信jsapi支付 1分钱</h1>
<a>Appid:   {{.AppId}}</a><br>
<a>TimeStamp:   {{.TimeStamp}}</a><br>
<a>Nonce_str:   {{.NonceStr}}</a><br>
<a>Package: {{.Package}}</a><br>
<a>SignType:    {{.SignType}}</a><br>
<a>PaySign: {{.PaySign}}</a><br>

<button type="button"  onclick="pay()">点击微信支付</button>

</body>
</html>