
<head>

			<meta charset="utf-8" />

			<title>Metronic | Data Tables - Editable Tables</title>

			<meta content="width=device-width, initial-scale=1.0" name="viewport" />

			<meta content="" name="description" />

			<meta content="" name="author" />

			<!-- BEGIN GLOBAL MANDATORY STYLES -->

			<link href="/static/media/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

			<link href="/static/media/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>

			<link href="/static/media/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

			<link href="/static/media/css/style-metro.css" rel="stylesheet" type="text/css"/>

			<link href="/static/media/css/style.css" rel="stylesheet" type="text/css"/>

			<link href="/static/media/css/style-responsive.css" rel="stylesheet" type="text/css"/>

			<link href="/static/media/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>

			<link href="/static/media/css/uniform.default.css" rel="stylesheet" type="text/css"/>

			<link href="/static/media/css/appmsg_edit.css" rel="stylesheet" type="text/css"/>

			<!-- END GLOBAL MANDATORY STYLES -->

			<!-- BEGIN PAGE LEVEL STYLES -->

			<link rel="stylesheet" type="text/css" href="/static/media/css/select2_metro.css" />

			<link rel="stylesheet" href="/static/media/css/DT_bootstrap.css" />

			<!-- END PAGE LEVEL STYLES -->

			<link rel="shortcut icon" href="/static/media/image/favicon.ico" />
</head>
dasdasdsa